---
layout: default
<!-- title: portfolio -->
---

<!-- <div class="sidebar">
    <ul>
        <li><a href="/portfolio/index.html">main</a></li>
        <li><a href="portfolio/about/about.html">about</a></li>
    </ul>
</div> -->

<div class="content">
    <p>projects:</p>
    <ul>
        {% for file in site.static_files %}
            {% if file.path contains '/projects/' and file.extname == '.html' %}
                <li>
                    <a href="{{ file.path | relative_url }}">{{ file.basename }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <p>resources:</p>
    <ul>
        <li><a href="machine-learning-positions.html">machine learning positions</a></li>
        <li><a href="quantitative-research-positions.html">quantitative research positions</a></li>
    </ul>
</div>

