---
layout: default
<!-- title: portfolio -->
---

<div class="content">
    <h1>Welcome to Our Job Listings</h1>
    <p>projects:</p>
    <ul>
        {% for file in site.static_files %}
            {% if file.path contains '/projects/' and file.extname == '.html' %}
                <li>
                    <a href="{{ file.path | relative_url }}">{{ file.basename }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <p>openings:</p>
    <ul>
        <li><a href="pages/dummy.html">dummy</a></li>
        <li><a href="pages/machine-learning-positions.html">machine learning positions</a></li>
        <li><a href="pages/quantitative-research-positions.html">quantitative research positions</a></li>
    </ul>
</div>

