---
layout: default
title: Quantitative Research Positions
---

<div class="content">
    <h1>Quantitative Research Positions</h1>
    
    <p>This page contains information about various quantitative research positions at hedge funds and proprietary trading firms.</p>
    
    <h2>Hedge Funds</h2>
    <ul>
        {% for line in site.data.quantitative_research_positions.hedge_funds %}
            <li>{{ line.name }} – <a href="{{ line.link }}">{{ line.link }}</a></li>
        {% endfor %}
    </ul>
    
    <h2>Proprietary Trading Firms</h2>
    <ul>
        {% for line in site.data.quantitative_research_positions.proprietary_trading_firms %}
            <li>{{ line.name }} – <a href="{{ line.link }}">{{ line.link }}</a></li>
        {% endfor %}
    </ul>

    
    <p><a href="index.html">Back to main page</a></p>
</div> 