body {
    display: flex;
    background-color: #BCBCBC; /* Set the background color to light grey */
}

.sidebar {
    width: 200px; /* Width of the sidebar */
    background-color: #f4f4f4; /* Background color for the sidebar */
    padding: 15px;
}

.content {
    flex-grow: 1; /* This will take the remaining space */
    padding: 15px;
}

